/RUNNING_PID
/logs/
/project/*-shim.sbt
/project/project/
/project/target/
/target/

*.class
*.sbtserver*
*.log

# sbt specific
.cache/
.history/
.idea/
.lib/
project/.sbtboot

.idea_modules/

dist/*
*.class
*.log

.ws

.DS_Store
.metals
.bloop
metastore_db

?Stats*
